.DS_Store
function_a copy.do
*(Autosaved)*
./*.DS_Store

# Exclude test_gitignore 
test_gitignore/*
!test_gitignore/code/

# Exclude test_gitignore/code, but not .ado files
test_gitignore/code/*
!test_gitignore/code/*.ado


